.productlist{
  background:  darken($white, 2%);;
  padding: 30px 15px;

  .list-title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 2em;
    color: lighten($black, 10%);
    padding-bottom: 15px;
    border-bottom: 1px solid lighten($black, 50%);
    margin: 0 30px;
  }

  .tiles-holder{
    max-width: 800px;
    margin: 10px 15px ;
    overflow: hidden;
  }
}