#app-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  z-index: 10;
  
  .mui-appbar{
    background-color: mui-color('black-alpha-87');    
  }

  .site-caption{
    display: block;
    margin-top: -25px;
    opacity: 0.5;
  }



  @media screen and (min-width:$mui-screen-md-min){
    left: $sidebar-width;
  }
}