.item-rating{
  position: relative;
  padding: 0 15px;

  .stars-holder{
    position: relative;
    width: 81px;
    height: 24px;
    display: inline-block;
  }
  .stars{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .filled-stars{
    color: #FFD700;    
  }
  .hollow-stars{
    color: #e3e3e3;    
  }

  .rating-value{
    position: absolute;
    top: 0;
    font-size: 1.3em;
    color: #aaa;
    padding: 0 10px;
  }
}