<div class="item-rating mui-row">
  <div class="stars-holder">

  <span class="hollow-stars stars">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </span>
  <span class="filled-stars stars" style="width:{{width}}%">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </span>
  </div>  
  <span class="rating-value">{{ctrl.rating}}</span>
</div>